<section class="user_form">
    <%= render '/global/errors', obj: @user %>
    <%= form_with( model: @user, data:{turbo: false}, local: true, class:"form_con") do |f| %>
    
      <div class="form_box username_box">
        <%= f.label :username %>
        <%= f.text_field :username, placeholder:"Enter username"  %>
      </div>
    
      <div class="form_box email_box">
        <%= f.label :email %>
        <%= f.email_field :email, placeholder:"Enter your Email"  %>
      </div>

      <div class="form_box password_box">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder:"Enter Password"  %>
      </div>

      <div class="form_box thumnail">
        <%= f.label :picture %>
        <%= f.file_field :profileImage %>
      </div>
      
        <%= f.submit(@user.new_record? ? "Sign Up" : "Update account", class:"sign_btn") %>
      
    <% end %>
    </section>
    