<div class="user-profile">
    <div class="user-pics">
    <% if @user.profileImage.attached? %>
    <%= image_tag(@user.profileImage , width:300)%>
    <% else %>
    <%= image_tag('nothumbnail.png',width:300) %>
    <%end%>
    </div>
    <h3>@<%= @user.username %></h3>
    <p><%= @user.email %></p>
    <div class="profile-actions">
        <% if logged_in? && @user == current_user %>
        <%= link_to "Edit profile", edit_user_path(@user) %>
        <%= link_to "Delete profile", user_path(@user), 
        data:{turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <% end %>
    </div>
</div>

<div class="user-posts mt-5">
    <h3 class="text-center">Posts</h3>
<% if @user.posts.count < 1 %>
    <button class="btn btn-outline-primary">This user hasn't made any posts.</button>

<% else %>
<%= render 'posts/posts' %>
<div class="apple_pagination mt-4">
    <%= will_paginate @posts, :container=> false %>
</div>
<% end %>
</div>