<h1 class="">Edit Post</h1>


<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with(model: @post, data:{turbo:false}, local: true) do |form| %>
<div class="form_box title_box">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder:"Add title" %>
  </div>
  <br/>
  <div class="form_box content_box">
    <%= form.label :content %>
    <%= form.text_area :content, placeholder:"Add Contents" %>
  </div>

  <div class="form_box thumnail">
    <%= form.label :thumbnail %>
    <%= form.file_field :thumbnail %>
  </div>

  <%= form.submit "Update" %>
<% end %>