<header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
        <i class="fa-solid fa-bars checkbtn"></i>
        </label>
        <ul>
          <li><%= link_to "Home", root_path, class:"home_link" %></li>
          <div class="nav-right">
            <% if !logged_in? %>
            <li><%= link_to "About us", about_path %></li>
            <li><%= link_to "Help & support", help_support_path %></li>
            <% end %>

            <li><%= link_to "Latests", posts_path %></li>

            <% if logged_in? %>
          <li><%= link_to "Add Posts", new_post_path %></li>
          <% end %>

          <li><%= link_to "Categories", categories_path %></li>

          <% if logged_in? %>
          <li><%= link_to "Add Category", new_category_path %></li>
          <% end %>

          <li><%= link_to "People", users_path %></li>

            <% if logged_in? %>
            <li class="signout"><%= link_to "Sign Out", signout_path,
              data:{turbo_method: :delete, turbo_confirm:"Sign out of sharp"} %></li>
              <li>@<%= link_to current_user.username, user_path(current_user) %></li>
              <% else %>
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Sign In", signin_path %></li> 
          <% end %>
         
        </div>
        </ul>
      </nav>
</header>